<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aba.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aba.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
            <intent-filter>  
                <action android:name="android.intent.action.VIEW" />  
                <category android:name="android.intent.category.DEFAULT" />  
                <category android:name="android.intent.category.BROWSABLE" />  
                <data android:scheme="http" />  
                <data android:scheme="https" />  
                <data android:scheme="about" />  
                <data android:scheme="javascript" />  
            </intent-filter>
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            -->
        </activity>
        <activity
            android:name="com.aba.main.webview.WebActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.aba.main.shudu.ShuduActivity"
            android:label="@string/title_activity_shudu" />
        <activity
            android:name="com.aba.main.game.GameActivity"
            android:label="@string/title_activity_game" />
        <activity
            android:name="com.aba.main.game.SuanActivity"
            android:label="@string/title_activity_game" />
        <activity
            android:name="com.aba.main.draw.DrawActivity"
            android:label="@string/title_activity_draw" />
        <activity
            android:name="com.aba.main.draw.Draw2Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.aba.main.shudu.CitysActivity"
            android:label="@string/title_activity_shudu" />
        
        
        <activity
            android:name="com.aba.main.music.MusicPlayerActivity"
            android:label="@string/title_activity_shudu" />
        
        <activity
            android:name="com.aba.main.filebrowser.FileBrowserActivity" />
    </application>

</manifest>
